---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
spec:
  replicas: 1
  template:
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 2000
      serviceAccountName: payments
      containers:
      - name: payments
        image: user-service:v0.1.0
        command:
          - /app/server
          - '--log-level=debug'
        ports:
          - name: payments
            containerPort: 8080
          - name: metrics
            containerPort: 8081
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "100m"
            memory: "256Mi"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 30
          failureThreshold: 2
