etcd_main_endpoints: >-
  {% set endpoints = [] %}
  {% for host in groups['etcd'] %}
    {% set _ = endpoints.append(hostvars[host]['networkInterfaces'][0]['networkIP'] ~ ':2379') %}
  {% endfor %}
  {{ endpoints | join(',') }}

etcd_failover_endpoints: "{{ hostvars[host]['networkInterfaces'][0]['networkIP'] ~ ':2379' }}"

etcd_endpoints: "{{ etcd_main_initial_cluster if is_failover not in group_names else etcd_failover_initial_cluster }}"

patroni_postgresql_data_dir: "/var/lib/postgresql/data"
patroni_postgresql_bin_dir: "/usr/lib/postgresql/17/bin"
